@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-bg {
    background-color: #000000;
}
.active-page {
    background-color: #262eff;
    color: white;
}
.unselected-page {
    background-color: white;
    color: black;
}